* {
    box-sizing: border-box;
}

.object-fit-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.upimg {
    width: 32px;
    height: 32px;
}

/* main-header */
.main-header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 60px; */
    margin-bottom: 20px;
}

.create-header {
    margin-top: 40px;
}

.title input {
    width: 600px;
    border: none;
    border-bottom: 2px solid rgb(53, 141, 255);
}

.title input::placeholder {
    font-size: 20px;
}

.title input {
    font-size: 20px;
}

.title input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(118, 176, 252);
    ;
}


.wrapper {
    background: #f5faff;
    border-radius: 12px;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.editor-wrap,
.author-wrap,
.cover-img-wrap,
.article-admin-wrap {
    background: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-block: 10px;
    margin-inline: 10px;
}

/* editor-wrap */

.form-select {
    width: 200px;
}

#layoutSidenav_content .fa-circle-info {
    cursor: pointer;
}

#container {
    width: 750px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}

.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

/* 文章標籤Badges */
.badge-new {
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}

.badge-new .fa-circle-xmark {
    margin-left: 5px;
}

#preview {
    height: 200px;
    width: 320px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    top: 10px;
}

.info-text {
    color: #a52a2a;
    font-weight: bold;
    margin-left: 5px;
}